.contact-div{
    display: flex;
}

label{
    color: white;
}

input, textarea{
    width: 45ch;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 5px 10px 8px 10px #1d1d1d;
    margin-bottom: 40px;
}

form{
    max-width: 40ch;
    margin-left: auto;
    margin-right: auto;
}

.form-div{
    display: flex;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
}

.contact-div{
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.contact-p{
    width: 80%;
    padding: 10px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
}

.contact-h1{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 30px;
    color: white;
}

.form-btn{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    width: 60%;
    border-radius: 25px;
}

.span-p{
    text-align: center;
    color: white;
}

.yellow{
    color: #FBDA0E;
    border: 5px solid #FBDA0E;
    box-shadow: 10px 10px 5px rgb(242, 242, 155, 0.5);
}


.red{
    color: #C23817;
    border: 5px solid #C23817;
    box-shadow: 10px 10px 5px rgba(235, 144, 144, 0.5);
}

.blue{
    color: #5E94DD;
    border: 5px solid #5E94DD;
    box-shadow: 10px 10px 5px rgba(169, 222, 255, 0.5);
}

.greenC{
    color: #2CA163;
    border: 5px solid #2CA163;
    box-shadow: 10px 10px 5px rgb(44, 161, 99, 0.5);
}

.greenC:hover{
    color: white;
    background-color: rgb(44, 161, 99, 0.5);
}

.orange{
    color: #EC693C;
    border: 5px solid #EC693C;
    box-shadow: 10px 10px 5px rgb(236, 105, 60, 0.5);
}