.banner{
    width:100%;
    display: flex;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
}

.btn-div{
    display: flex;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    max-width: 40ch;
    margin-top: 20px;
}

.btn-ul{
    list-style-type: none;
    padding: 10px;
}

.btn{
    width: 20ch;
    margin: 5px;
    padding: 5px;
    border-radius: 25px;
    margin-bottom: 25px;
    font-weight: bold;
}

.blueM{
    color: #5E94DD;
    border: 5px solid #5E94DD;
    box-shadow: 10px 10px 5px rgba(169, 222, 255, 0.5);
}

.blueM:hover{
    color: white;
    background-color: rgb(94, 148, 221, 0.5);
}